[submodule "dpdk/paranet-dpdk"]
	path = dpdk/paranet-dpdk
	url = git@github.com:deltavoid/paranet-dpdk.git
[submodule "lwip/paranet-lwip"]
	path = lwip/paranet-lwip
	url = git@github.com:deltavoid/paranet-lwip.git
[submodule "lwip/paranet-lwip-contrib"]
	path = lwip/paranet-lwip-contrib
	url = git@github.com:deltavoid/paranet-lwip-contrib.git
